[submodule "api-gateway"]
    path = apps/api-gateway
    url = https://github.com/duongtrungnguyenrc/nexa-api-gateway
[submodule "nestro-server"]
	path = apps/nestro-server
	url = https://github.com/duongtrungnguyenrc/nexa-nestro-server
[submodule "user-service"]
	path = apps/user-service
	url = https://github.com/duongtrungnguyenrc/nexa-user-service
[submodule "cache-service"]
	path = apps/cache-service
	url = https://github.com/duongtrungnguyenrc/nexa-cache-service
[submodule "course-service"]
	path = apps/course-service
	url = https://github.com/duongtrungnguyenrc/nexa-course-service
[submodule "assessment-service"]
	path = apps/assessment-service
	url = https://github.com/duongtrungnguyenrc/nexa-assessgnment-service
[submodule "search-service"]
	path = apps/search-service
	url = https://github.com/duongtrungnguyenrc/nexa-search-service
[submodule "notification-service"]
	path = apps/notification-service
	url = https://github.com/duongtrungnguyenrc/nexa-notification-service
